<div class="popup hero-form" id="popup">
  <form action="" class="hero__form">
    <div class="hero-form__wrapper">
      <h2 class="hero-form__caption popup__caption">Получить презентацию партнерской программы</h2>
      <label for="hero-phone" class="hero-form__label">
        <input type="text" class="phone-mask hero-form__input" id="hero-phone" name="hero-phone" placeholder="+7 (___) ___ - __ - __" inputmode="text">
      </label>
      <button type="submit" class="hero-form__submit btn btn-reset">Скачать презентацию</button>
    </div>
  </form>
</div>
